
<h4>Basic Button</h4>
<div class="example-button-row">
    <button mat-button>Basic</button>
    <a mat-button href="#" target="_blank">Link</a>
    <button mat-button disabled>Disabled</button>
</div>
<br><br>

<h4>Accent, Primary  & Warn Theme</h4>
<div class="example-button-row">
    <button mat-button color="accent">accent</button>
    <button mat-button color="primary">primary</button>
    <button mat-button color="warn">warn</button>
</div>
<br><br>

<h4>Success, warning & Danger Theme</h4>
<div class="example-button-row">
    <button mat-button color="success">Success</button>
    <button mat-button color="warning">Warning</button>
    <button mat-button color="danger">Danger</button>
</div>
<br><br>