<div class="mat-display-large">
  Esto es un texto con la clase .mat-display-large
</div>
<div class="mat-display-medium">
  Esto es un texto con la clase .mat-display-medium
</div>
<div class="mat-display-small">
  Esto es un texto con la clase .mat-display-small
</div>
<br>
<h1 class="mat-headline-large">
  Esto es un titular grande (headline-large)
</h1>
<h2 class="mat-headline-medium">
  Esto es un titular medio (headline-medium)
</h2>
<h3 class="mat-headline-small">
  Esto es un titular pequeño (headline-small)
</h3>


<h1 class="mat-title-large">
  Esto es un título grande (title-large)
</h1>
<h2 class="mat-title-medium">
  Esto es un título medio (title-medium)
</h2>
<h3 class="mat-title-small">
  Esto es un título pequeño (title-small)
</h3>


<p class="mat-body-large">
  Esto es un texto de cuerpo grande (body-large)
</p>
<p class="mat-body-medium">
  Esto es un texto de cuerpo medio (body-medium)
</p>
<p class="mat-body-small">
  Esto es un texto de cuerpo pequeño (body-small)
</p>


<span class="mat-label-large">
  Esto es una etiqueta grande (label-large)
</span>
<span class="mat-label-medium">
  Esto es una etiqueta media (label-medium)
</span>
<span class="mat-label-small">
  Esto es una etiqueta pequeña (label-small)
</span>
