<!-- <app-navegador></app-navegador> -->
<main class="main">
  <div class="content">
    <!-- Hola mundo <br>
    <mat-slide-toggle>Actívame!</mat-slide-toggle> -->
    <!-- <app-tipografia></app-tipografia> -->
    <!-- <app-mi-formulario></app-mi-formulario> -->
    <!-- <app-ctable></app-ctable> -->
    <!-- <app-carbol></app-carbol> -->
    <!-- <app-drag-dop></app-drag-dop> -->

    <!-- Componentes: -->
    <!-- <mat-divider></mat-divider> -->
    <!-- <app-button></app-button> -->
    <!-- <mat-divider></mat-divider> -->
    <!-- <app-checkbox></app-checkbox> -->
    <!-- <mat-divider></mat-divider> -->
    <!-- <app-date-picker></app-date-picker> -->
    <!-- <mat-divider></mat-divider> -->
    <!-- <app-dialog-base></app-dialog-base> -->
    <!-- <mat-divider></mat-divider> -->
    <!-- <app-input></app-input> -->
    <!-- <mat-divider></mat-divider> -->
    <!-- <app-select></app-select> -->
    <!-- <mat-divider></mat-divider> -->
  </div>
</main>

<router-outlet />
