<h4>Basic Stroked Button</h4>
<div class="example-button-row">
    <button mat-stroked-button>Basic</button>
    <a mat-stroked-button href="#" target="_blank">Link</a>
    <button mat-stroked-button disabled>Disabled</button>
</div>
<br><br>

<h4>Accent, Primary  & Warn Strocked Button</h4>
<div class="example-button-row">
    <button mat-stroked-button color="accent">accent</button>
    <button mat-stroked-button color="primary">primary</button>
    <button mat-stroked-button color="warn">warn</button>
</div>
<br><br>

<h4>Success, warning & Danger Strocked Button</h4>
<div class="example-button-row">
    <button mat-stroked-button color="success">Success</button>
    <button mat-stroked-button color="warning">Warning</button>
    <button mat-stroked-button color="danger">Danger</button>
</div>
<br><br>