<h4>Basic Radio</h4>
<mat-radio-group>
    <mat-radio-button value="1" [checked]="true">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group>
<br><br>

<h5>Radio Button Disabled</h5>
<mat-radio-group disabled>
    <mat-radio-button [checked]="true" value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group><br><br>

<h5>Primary Radio Button</h5>
<mat-radio-group color="primary">
    <mat-radio-button [checked]="true" value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group><br><br>

<h5>Accent Radio Button</h5>
<mat-radio-group color="accent">
    <mat-radio-button [checked]="true" value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group><br><br>

<h5>Warn Radio Button</h5>
<mat-radio-group color="warn">
    <mat-radio-button [checked]="true" value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group><br><br>
