@use "@angular/material" as mat;
@use './../m3-theme-v2.scss';

/* You can add global styles to this file, and also import other style files */
// @include mat.strong-focus-indicators((
//   border-style: dotted,
//   border-width: 4px,
//   border-radius: 2px,
// ));


html {
  @include mat.core();
  // Apply the light theme by default
  mat.$theme-ignore-duplication-warnings: true;
  @include mat.all-component-themes(m3-theme-v2.$light-theme);
  // @include mat.typography-hierarchy(m3-theme-v2.$light-theme);
  //// Inidivual
  // @include mat.core-theme(m3-theme-v2.$light-theme);
  // @include mat.checkbox-base(m3-theme-v2.$light-theme);
  // @include mat.icon-theme(m3-theme-v2.$light-theme);

  // @include mat.button-typography(m3-theme-v2.$light-theme);
  // @include mat.button-typography(m3-theme-v2.$light-theme);

  //// Focus
  // @include mat.strong-focus-indicators-theme(green);

  // @include mat.button-theme(m3-theme-v2.$light-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// elevación
.my-class {
  @include mat.elevation-transition();
  @include mat.elevation(2);

  &:active {
    @include mat.elevation(8);
  }
}
@import '../public/scss/radio.scss';
@import '../public/scss/basic-button.scss';
@import '../public/scss/stroked-button.scss';
